
@font-face {
  font-family: "handwriting";
  src: url("./asset/font/IndieFlower-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "pacifico";
  src: url("./asset/font/Pacifico-Regular.ttf") format("truetype");
}